/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

body, html {
  height: 100%;
}

.full-screen {
  display: flex;
  flex-direction: column;
  height: 100%;
}

app-cart, app-custom-burger, app-information {
  flex: 1;
}

.bg-image {
    background-image: url('./assets/bg.jpg');
}